
1st Semester/39 1-4.c
1st Semester/temp.c
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/DesignTimeBuild/.dtbcache.v2
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.suo
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/DesignTimeBuild/.dtbcache.v2
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.suo
