
1st Semester/39 1-4.c
1st Semester/temp.c
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/DesignTimeBuild/.dtbcache.v2
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.suo
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/DesignTimeBuild/.dtbcache.v2
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.suo
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/DesignTimeBuild/.dtbcache.v2
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/project-colors.json
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v16/.suo
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.futdcache.v1
2nd Semester/Homework 1/Task_Two/.vs/Task_Two/v17/.suo
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/ref/Task 2.dll
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/ref/Task_Two.dll
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task 2.deps.json
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task 2.dll
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task 2.exe
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task 2.pdb
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task 2.runtimeconfig.json
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task_Two.deps.json
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task_Two.dll
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task_Two.exe
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task_Two.pdb
2nd Semester/Homework 1/Task_Two/Task_Two/bin/Debug/net6.0/Task_Two.runtimeconfig.json
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/apphost.exe
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/ref/Task 2.dll
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/ref/Task_Two.dll
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.assets.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.csproj.AssemblyReference.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.csproj.CoreCompileInputs.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.csproj.FileListAbsolute.txt
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.dll
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.genruntimeconfig.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task 2.pdb
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.AssemblyInfo.cs
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.AssemblyInfoInputs.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.assets.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.csproj.AssemblyReference.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.GeneratedMSBuildEditorConfig.editorconfig
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_2.GlobalUsings.g.cs
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.AssemblyInfo.cs
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.AssemblyInfoInputs.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.assets.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.csproj.AssemblyReference.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.csproj.CoreCompileInputs.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.csproj.FileListAbsolute.txt
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.dll
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.GeneratedMSBuildEditorConfig.editorconfig
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.genruntimeconfig.cache
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.GlobalUsings.g.cs
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Debug/net6.0/Task_Two.pdb
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task 2.csproj.nuget.g.props
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task 2.csproj.nuget.g.targets
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_2.csproj.nuget.dgspec.json
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_2.csproj.nuget.g.props
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_2.csproj.nuget.g.targets
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_Two.csproj.nuget.dgspec.json
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_Two.csproj.nuget.g.props
2nd Semester/Homework 1/Task_Two/Task_Two/obj/Task_Two.csproj.nuget.g.targets
