name: build

on: [push]

env:
  DOTNET_VERSION: '6.x'

jobs:
  build:

    name: build-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: NuGet Restore
      run: nuget restore "2nd Semester/Homework 2/Prefix Tree"

    - name: Build
      run: dotnet build "2nd Semester/Homework 2/Prefix Tree"

    - name: Tests
      run: dotnet test "2nd Semester/Homework 2/Prefix Tree/PrefixTree.Tests"